<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-manager-sidebar></app-manager-sidebar>
        </div>

        <div class="col-9">

            <div class="container mt-4">
                <div class="row">
                    <!-- Total Books -->
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header">
                                Total Books
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">1234</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Total Users -->
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header">Total Users</div>
                            <div class="card-body">
                                <h4 class="card-title">567</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Active Borrowings -->
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header">Active Borrowings</div>
                            <div class="card-body">
                                <h4 class="card-title">89</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Total Books -->
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header">Total Books</div>
                            <div class="card-body">
                                <h4 class="card-title">1234</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Total Users -->
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header">Total Users</div>
                            <div class="card-body">
                                <h4 class="card-title">567</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Active Borrowings -->
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header">Active Borrowings</div>
                            <div class="card-body">
                                <h4 class="card-title">89</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<router-outlet></router-outlet>